<form (ngSubmit)="onSubmit()" [formGroup]="myForm">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username"
               formControlName="username"
        />
      </div>
      <div class="form-group" formGroupName="passwords">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"
               formControlName="password"
        />
      </div>
      <div class="form-group" formGroupName="passwords">
        <label for="passwordRepeat">Password repeat:</label>
        <input type="password" class="form-control" id="passwordRepeat"
               formControlName="passwordRepeat"
        />
      </div>
    </div>
    <div class="col-xs-6">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Form</th>
          <th>Username</th>
          <th>Password</th>
          <th>Passwords (group)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let state of states">
          <td>{{state}}</td>
          <td>{{myForm[state] | json}}</td>
          <td>{{myForm.controls.username[state] | json}}</td>
          <td>{{myForm.controls.passwords.controls.password[state] | json}}</td>
          <td>{{myForm.controls.passwords[state] | json}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <div>
    Values: {{myForm.value | json}}
  </div>
</form>
