<!DOCTYPE html>
<html ng-app="testCommunication">
<head>
  <script src="node_modules/angular/angular.min.js"></script>
  <meta charset="utf-8">
  <title>Communication with Services</title>
</head>
<body>

<h3>DataGetterCtrl</h3>
<div ng-controller="DataGetterCtrl as getter">
  <div ng-click="getter.getData()">Click me to get Data</div>
  <div>Data: {{getter.data}}</div>
</div>
<br>
<br>
<h3>DataSetterCtrl</h3>
<div ng-controller="DataSetterCtrl as setter">
  <div ng-click="setter.setData()">Click me to set Data</div>
</div>

<script src="proxy_service.js"></script>
<script src="data_getter_ctrl.js"></script>
<script src="data_setter_ctrl.js"></script>
</body>
</html>
