<!DOCTYPE html>
<html ng-app="eventsTestApp">
<head>
  <script src="node_modules/angular/angular.min.js"></script>
  <meta charset="utf-8">
  <title>Events</title>
<style>
  h3 {
    margin: 2px;
  }
  p {
    margin: 2px;
  }
  .ctrl {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
  }
  .highlight {
    border-color: #f3a02d;
  }
</style>
</head>
<body class="ctrl"
      ng-class="{'highlight': root.gotBroadcast || root.gotEmit}"
      ng-controller="rootCtrl as root">
  <h3>rootCtrl</h3>
  <p>
    <span ng-click="root.reset()">Reset</span>
    <span ng-click="root.emit()">Emit</span>
    <span ng-click="root.broadcast()">Broadcast</span>
  </p>
  <div class="ctrl"
       ng-class="{'highlight': main.gotBroadcast || main.gotEmit}"
       ng-controller="mainCtrl as main">
    <h3>mainCtrl</h3>
    <p>
      <span ng-click="main.emit()">Emit</span>
      <span ng-click="main.broadcast()">Broadcast</span>
    </p>
    <div class="ctrl"
         ng-class="{'highlight': sub1.gotBroadcast || sub1.gotEmit}"
         ng-controller="subCtrl1 as sub1">
      <h3>subCtrl1</h3>
      <p>
        <span ng-click="sub1.emit()">Emit</span>
        <span ng-click="sub1.broadcast()">Broadcast</span>
      </p>
      <div class="ctrl"
           ng-class="{'highlight': sub1a.gotBroadcast || sub1a.gotEmit}"
           ng-controller="subCtrl1a as sub1a">
        <h3>subCtrl1a</h3>
        <p>
          <span ng-click="sub1a.emit()">Emit</span>
          <span ng-click="sub1a.broadcast()">Broadcast</span>
        </p>
      </div>
      <div class="ctrl"
           ng-class="{'highlight': sub1b.gotBroadcast || sub1b.gotEmit}"
           ng-controller="subCtrl1b as sub1b">
        <h3>subCtrl1b</h3>
        <p>
          <span ng-click="sub1b.emit()">Emit</span>
          <span ng-click="sub1b.broadcast()">Broadcast</span>
        </p>
      </div>
    </div>
    <div class="ctrl"
         ng-class="{'highlight': sub2.gotBroadcast || sub2.gotEmit}"
         ng-controller="subCtrl2 as sub2">
      <h3>subCtrl2</h3>
      <p>
        <span ng-click="sub2.emit()">Emit</span>
        <span ng-click="sub2.broadcast()">Broadcast</span>
      </p>
      <div class="ctrl"
           ng-class="{'highlight': sub2a.gotBroadcast || sub2a.gotEmit}"
           ng-controller="subCtrl2a as sub2a">
        <h3>subCtrl2a</h3>
        <p>
          <span ng-click="sub2a.emit()">Emit</span>
          <span ng-click="sub2a.broadcast()">Broadcast</span>
        </p>
      </div>
      <div class="ctrl"
           ng-class="{'highlight': sub2b.gotBroadcast || sub2b.gotEmit}"
           ng-controller="subCtrl2b as sub2b">
        <h3>subCtrl2b</h3>
        <p>
          <span ng-click="sub2b.emit()">Emit</span>
          <span ng-click="sub2b.broadcast()">Broadcast</span>
        </p>
      </div>
    </div>
  </div>
  <script src="events.js"></script>
</body>
</html>
