<!DOCTYPE html>
<html ng-app="httpApp">
<head>
  <script src="node_modules/angular/angular.min.js"></script>
  <meta charset="utf-8">
  <title>$http-Service</title>
</head>
<body ng-controller="MainCtrl as main">
<div>
  <a href="#" ng-click="main.getAll()">Get All</a>
  <a href="#" ng-click="main.getOne()">Get One</a>
  <a href="#" ng-click="main.addNew()">Add New</a>
  <a href="#" ng-click="main.updateOne()">Update One</a>
</div>
<div>
  <pre>Status: {{main.status}}</pre>
  <pre>Status Text: {{main.statusText}}</pre>
</div>
<h3>Filme:</h3>
<ul>
  <li ng-repeat="movie in main.movies">
    <span>Title: {{movie.title}}</span>
    <span>Year: {{movie.year}}</span>
  </li>
</ul>
  <script src="app.js"></script>
</body>
</html>
