<!-- Search -->
<div class="row panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-8">
      <input class="form-control" type="text"/>
    </div>
    <div>
      <button
        class="btn btn-primary col-sm-4"
        type="button"
        (click)="searchAuthors()"
      >Search</button>
    </div>
  </div>
</div>
<!-- Authors list -->
<div class="row">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-sm-11">
          Authors List
        </div>
        <div class="col-sm-1">
          <span
            class="glyphicon glyphicon-plus pull-right"
            (click)="addAuthor()"
          ></span>
        </div>
      </div>
    </li>
    <!-- Template for an author -->
    <li class="list-group-item" *ngFor="let author of authors">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Name:</div>
            <div class="panel-body">{{author.name}}</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Birth Year:</div>
            <div class="panel-body">{{author.birthYear}}</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Controls:</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <span
                    class="glyphicon glyphicon-remove"
                    (click)="deleteAuthor(author._id)"
                  ></span>
                </div>
                <div class="col-sm-6">
                  <span
                    class="glyphicon glyphicon-edit"
                    (click)="editAuthor(author._id)"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ul class="list-group">
          <li class="list-group-item active">Books:</li>
          <li class="list-group-item" *ngFor="let book of author.books">{{book}}</li>
        </ul>
      </div>
    </li>

    <li *ngIf="authors.length === 0" class="list-group-item">
      <div class="panel panel-info">
        <div class="panel-heading">Sorry no authors found!</div>
        <div class="panel-body">Please use a different search term</div>
      </div>
    </li>
  </ul>
</div>
