<!DOCTYPE html>
<html ng-app="testApp">
<head>
<meta charset="utf-8">
<title>Test App</title>
<style>
  .red {
    background-color: red;
  }
  .black {
    background-color: black;
  }
  .blue {
    background-color: blue;
  }
  .yellow {
    background-color: yellow;
  }
</style>
</head>
<body>
  <div ng-controller="colorSelectorCtrl as selector">
    <input ng-model="selector.currentColor"/>
    <color style="display: block;" ng-repeat="color in selector.colors | colorFilter: selector.currentColor" box-color="{{color}}"></color>
    <button ng-click="selector.send()">Send color</button>
  </div>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/color_selector_ctrl.js"></script>
  <script src="scripts/directives/color.js"></script>
  <script src="scripts/services/send_to_server.js"></script>
  <script src="scripts/filters/color_filter.js"></script>
</body>
</html>
