<div class="row panel panel-primary" ng-controller="searchCtrl as $ctrl">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-8">
      <input class="form-control" type="text" ng-model="$ctrl.searchTerm"/>
    </div>
    <div>
      <button class="btn btn-primary col-sm-4" type="button" ng-click="$mainCtrl.search($ctrl.searchTerm)">Search</button>
    </div>
  </div>
</div>

<div class="row" ng-controller="authorListCtrl as $ctrl">
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-sm-11">
          Authors List
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-plus pull-right" ng-click="$ctrl.navigate()"></span>
        </div>
      </div>
    </li>
    <li ng-repeat="author in $mainCtrl.authors | orderBy:'name' track by author._id" class="list-group-item">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Name:</div>
            <div class="panel-body">{{author.name}}</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Birth Year:</div>
            <div class="panel-body">{{author.birthYear}}</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Controls:</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <span class="glyphicon glyphicon-remove" ng-click="$mainCtrl.remove(author._id)"></span>
                </div>
                <div class="col-sm-6">
                  <span class="glyphicon glyphicon-edit" ng-click="$ctrl.navigate(author._id)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item active">Books:</li>
        <li class="list-group-item" ng-repeat="book in author.books">{{book}}</li>
      </ul>
    </li>
    <li class="list-group-item" ng-if="authors.length == 0">
      <div class="panel panel-info">
        <div class="panel-heading">Sorry no authors found!</div>
        <div class="panel-body">Please use a different search term</div>
      </div>
    </li>
  </ul>
</div>
