<form name="$ctrl.testForm" novalidate ng-submit="$ctrl.sendToServer()">
  <div>
    <fieldset>
      <legend>Anrede:</legend>
      <label ng-repeat="title in $ctrl.titles" for="{{title}}">
        {{title}}
        <input type="radio" id="{{title}}" name="title" ng-value="title" ng-model="$ctrl.user.title"/>
      </label>
    </fieldset>
  </div>

  <div>
    <fieldset>
      <legend>Sprache:</legend>
      <label ng-repeat="lang in $ctrl.languages" for="{{lang.id}}">
        {{lang.long}}
        <input type="radio" id="{{lang.id}}" name="lang" ng-value="lang" ng-model="$ctrl.user.lang"/>
      </label>
    </fieldset>
  </div>

  <div>
    <label for="living">Wohnort:
      <select id="living" name="living" id="living" ng-options="city as city.name for city in $ctrl.cities track by city.id"
              ng-model="$ctrl.user.living">
        <option value="">Stadt auswählen</option>
      </select>
    </label>
  </div>

  <div>
    <label for="happy">Glücklich?
      <input type="checkbox" id="happy" name="happy" ng-model="$ctrl.user.happy" ng-true-value="'yes'"
             ng-false-value="'no'"/>
    </label>
  </div>

  <div>
    <label for="happyDropdown">Glücklich?
      <select id="happyDropdown" name="happyDropdown">
        <option ng-selected="$ctrl.user.happy === ''">Noch nicht ausgewählt</option>
        <option ng-selected="$ctrl.user.happy === 'yes'">Glücklich</option>
        <option ng-selected="$ctrl.user.happy === 'no'">Nicht Glücklich</option>
      </select>
    </label>
  </div>

  <div>
    <label for="firstName">Vorname:
      <input id="firstName" type="text" name="firstName" ng-model="$ctrl.user.firstName"/>
    </label>
  </div>

  <div>
    <label for="lastName">Nachname:
      <input id="lastName" type="text" name="lastName" ng-model="$ctrl.user.lastName"/>
    </label>
  </div>

  <div>
    <label for="age">Alter:
      <input id="age" type="number" name="age" ng-model="$ctrl.user.age"/>
    </label>
  </div>
  <button type="submit">Speichern</button>
</form>
