{
  "extends": [
    "standard"
  ],
  "env": {
    "browser" : true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "key-spacing": 0,
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "ignore"
    }]
  }
}
